.signUpEmail::after {
    content: "";
    height: 1px;
    width: 32%;
    top: 50%;
    right: 2%;
    position: absolute;
    background-color: #656565;
    border-radius: 10%;

}

.signUpEmail::before {
    content: "";
    height: 1px;
    width: 32%;
    top: 50%;
    left: 2%;
    position: absolute;
    background-color: #656565;
}